<h1 class="text-3xl font-bold underline">Hello world!</h1>
<div>
  @let url = catURL();
  @if (url) {
    <img [src]="url" style="width: 50%; height: auto" />
    <button class="bg-blue-600" (click)="testImageAnalysis($event)">Analyse this image</button>
  }
  <div>
    @let result = finalAnalysis();
    @let fromCloudOrDevice = result?.source;
    @let analysis = result?.analysis;
    @let thoughtSummary = result?.thoughtSummary || '';

    <p>Performance: {{ duration() }}</p>
    @if (fromCloudOrDevice) {
      <p>Source: {{ fromCloudOrDevice }}</p>
    }
    @if (thoughtSummary) {
      <p>Thought Summary: {{ thoughtSummary }}</p>
    }
    @if (analysis) {
      @for (t of analysis.alternativeTexts; track t; let i = $index) {
        <p>Alternative Text {{ i }}: {{ t }}</p>
      }
      @for (t of analysis.tags; track t; let i = $index) {
        <p>Tag {{ i }}: {{ t.name }}, {{ t.sentence }}</p>
      }
      @for (t of analysis.recommendations; track t; let i = $index) {
        <p>Recommendation {{ i + 1 }}: {{ t.recommendation }}, {{ t.sentence }}</p>
      }
      <ol>
        <li>Brightness: {{ analysis.colorAdjustment?.brightness }}</li>
        <li>Contrast: {{ analysis.colorAdjustment?.contrast }}</li>
        <li>Saturat: {{ analysis.colorAdjustment?.saturation }}</li>
        <li>Warmth: {{ analysis.colorAdjustment?.warmth }}</li>
      </ol>
    }
  </div>
</div>
<router-outlet />
